.places__place {
  margin-bottom: 0;
}

.places__place:not(:last-child) {
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .places__place {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    margin-left: 24px;
    margin-right: 24px;
  }

  .places__place:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 480px) {
    .places__place:not(:last-child) {
    margin-bottom: 50px;
  }
  }

  @media screen and (max-width: 320px) {
    .places__place {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    }
 