.cover__title {
  padding-top: 245px;
  margin: auto;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  width: 560px;
  z-index: 3;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    line-height: 1.09;
    width: 250px;
  }
}